/* For laptops and pcs. */
@media(min-width:905px){form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 5%;
    padding: 40px;
    margin-bottom: 50px;
    margin-right: 5%;
    background-color: rgb(50, 47, 47);
    h1 {
        align-self: center;
    }
    div {
        font-size: large;
        display: flex;
        flex-direction: row;
        margin: 10px;
        width: 100%;
        justify-content: space-between;
        input {
            padding: 10px;
            background-color: black;
            color: white;
            width: 100%;
        }
        textarea {
            background-color: black;
            color: white;
            width: 100%;
        }
    }
}

.contact-me h1 {
    font-size: xx-large;
}}

/* For mobile devices. */
@media(max-width:905px){
    .contact-me {
        margin-top: 20%;
    }
    form {
        
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 5%;
        padding: 10px;
        margin-bottom: 50px;
        margin-right: 5%;
        background-color: rgb(50, 47, 47);
        h1 {
            align-self: center;
        }
        div {
            display: flex;
            flex-direction: row;
            margin: 10px;
            width: 95%;
            justify-content: space-between;
            input {
                background-color: black;
                color: white;
                width: 100%;
            }
            textarea {
                background-color: black;
                color: white;
                width: 100%;
            }
        }
    }
}