/* For laptops and pcs. */

@media(min-width:905px){
    .contact-me h1 {
        text-align: center;
        margin-top: 10%;
        font-size: 250px;
    }
    form {
    margin: 10%;
    margin-top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding: 40px;
    margin-left:10%;
    margin-bottom: 50px;
    border:5px solid rgb(1, 84, 249);
    border-radius: 30px;
    color: white;
    background-color: black;
    
    div {
        font-size: larger;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 10px;
        width: 100%;
        justify-content: space-evenly;
        input {
            padding: 5px;
            background-color: black;
            color: white;
            width: 100%;
        }
        textarea {
            background-color: black;
            color: white;
            width: 100%;
        }
    }
}

.contact-me h1 {
    font-size: xx-large;
}}

/* For mobile devices. */
@media(max-width:905px){
    .contact-me {
        margin-top: 20%;
    }
    form {
        
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 5%;
        /* margin: 10%; */
        padding: 10px;
        margin-bottom: 50px;
        margin-right: 5%;
        border: 5px solid rgb(1, 84, 249);
        background-color: black;
        h1 {
            align-self: center;
        }
        div {
            display: flex;
            flex-direction: row;
            margin: 10px;
            width: 95%;
            justify-content: space-between;
            input {
                background-color: black;
                color: white;
                width: 100%;
            }
            textarea {
                background-color: black;
                color: white;
                width: 100%;
            }
        }
    }
}