/* Base styles (Mobile first) */
.about-me-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin: top right bottom left */
    margin: 20% 10% 5% 10%; 
}

.about-me-section-2 {
    align-self: center;

    img {
        height: 20px;
        width: 20px;
    }
}

/* Desktop overrides */
@media (min-width: 905px) {
    .about-me-section-1 h1 {
        text-align: center;
    }
    
    .about-me-section {
        margin: 13% auto;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        
        p {
            margin: 4%;
        }
    }

    .about-me-section-2 {
        align-self: auto; 
    }
}